<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.datacenter.mapper.InternaldayMapper">

  <select id="selectList" resultType="Internalday">
      select * from t_covid19_internaldays
      <where>
          <if test="startDate!=null and startDate!=''">
              dateId &gt;= #{startDate}
          </if>
          <if test="endDate!=null and endDate!=''">
              and dateId &lt;= #{endDate}
          </if>
      </where>
  </select>

</mapper>
