<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.datacenter.mapper.UserMapper">

    <!--自定义结果映射规则：映射了关联的角色信息-->
    <resultMap id="userRoleResultMap" type="SysUser">
        <id property="uid" column="uid" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="rid" column="rid" />
        <!--一对一的数据关联-->
        <association property="role" javaType="Role">
            <id property="rid" column="rid" />
            <result property="rname" column="rname" />
            <result property="rdesc" column="rdesc" />
        </association>
    </resultMap>
    <select id="selectList" resultMap="userRoleResultMap">
        select u.*,r.* from t_user u,t_role r where u.rid=r.rid
        <if test="username!=null and username!=''">
            and u.username like concat('%',#{username},'%')
        </if>
    </select>


    <select id="selectByUsername" resultType="SysUser">
        select * from t_user where username=#{username}
    </select>

    <insert id="insertUser">
        insert into t_user(username,password,rid) values(#{username},#{password},#{rid})
    </insert>

    <delete id="deleteByUid">
        delete from t_user where uid=#{uid}
    </delete>

    <select id="selectByUid" resultMap="userRoleResultMap">
        select u.*,r.* from t_user u,t_role r where u.rid=r.rid and u.uid=#{uid}
    </select>

    <update id="updateUser">
        update t_user set username=#{username},password=#{password},rid=#{rid}
            where
        uid = #{uid}
    </update>

    <delete id="deleteByRid">
        delete from t_user where rid=#{rid}
    </delete>

    <delete id="deleteByRids">
        delete from t_user where rid in (${rids})
    </delete>

</mapper>
