<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/new_style.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        table{border:0px;}
        tbody tr td{ border-left:0px dotted #c7c7c7; line-height:30px;}
        select,input,textarea{
            width: 180px;
            height: 30px;
            border: 1px solid #ccc;
        }
    </style>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript">
        function goBack(){
            history.go(-1);
        }
        function saveProvince(){
            $("#addForm").submit();
        }
    </script>

</head>
<body style="overflow-x:hidden;">
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="provinceList">全国省份确诊病例</a></li>
        <li><a href="#">添加省份确诊病例</a></li>
    </ul>
</div>
<form action="/saveProvince" method="post" class="form" id="addForm">
    <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
    <table style="margin:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="245" align="left" valign="top" class="add_main">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="66" height="30">日期:</td>
                        <td width="130" class="inputText">
                            <input type="text" th:name="datetime"/>
                            <div th:text="${msg}" id="messageError" style="color: red;position: absolute;margin: -29px 0 0 190px;">

                            </div>
                        </td>
                        <td width="170">
                        </td>
                    </tr>


                    <tr>
                        <td width="66" height="30">省&nbsp;&nbsp;&nbsp;&nbsp;份:</td>
                        <td width="178" class="inputText">
                            <select th:name="provinceInfo" class="required">
                                <option value="">请选择省份</option>
                                <option th:each="provinceInfo:${provinceInfoList}"
                                        th:text="${#strings.arraySplit(provinceInfo,',')[1]}"
                                        th:value="${provinceInfo}"></option>
                            </select>
                        </td>
                        <td width="170">
                        </td>
                    </tr>

                    <tr>
                        <td width="66" height="30">新增数量:</td>
                        <td width="178" class="inputText"><input type="text" th:name="currentConfirmedCount"/></td>
                        <td width="170">
                        </td>
                    </tr>

                    <tr>
                        <td width="66" height="30">确诊数量:</td>
                        <td width="178" class="inputText"><input type="text" th:name="confirmedCount"/></td>
                        <td width="170">
                        </td>
                    </tr>
                    <tr>
                        <td width="66" height="30">疑似数量:</td>
                        <td width="178" class="inputText"><input type="text" th:name="suspectedCount"/></td>
                        <td width="170">
                        </td>
                    </tr>
                    <tr>
                        <td width="66" height="30">治愈数量:</td>
                        <td width="178" class="inputText"><input type="text" th:name="curedCount"/></td>
                        <td width="170">
                        </td>
                    </tr>
                    <tr>
                        <td width="66" height="30">死亡数量:</td>
                        <td width="178" class="inputText"><input type="text" th:name="deadCount"/></td>
                        <td width="170">
                        </td>
                    </tr>



                    <tr>
                        <td height="50">&nbsp;</td>
                        <td valign="bottom">
                            <img src="../images/cancel_btn.png" width="84" height="28"  onclick="goBack()"/>
                            <img src="../images/save_btn.png" width="84" height="28" onclick="saveProvince();"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table></td>
        </tr>
    </table>
</form>
</body>
</html>
