<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="../css/new_style.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    table{border:0px;}
    tbody tr td{ border-left:0px dotted #c7c7c7; line-height:30px;}
    select,input,textarea{
      width: 180px;
      height: 30px;
      border: 1px solid #ccc;
    }
  </style>
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript">
    function goBack(){
      history.go(-1);
    }
    function updateProvince(){
      $("#updateForm").submit();
    }
  </script>

</head>
<body style="overflow-x:hidden;">
<div class="place">
  <span>位置：</span>
  <ul class="placeul">
    <li><a href="provinceList">全国省份确诊病例</a></li>
    <li><a href="#">修改省份确诊病例</a></li>
  </ul>
</div>
<form action="updateProvince" method="post" class="form" id="updateForm">
  <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
  <input type="hidden" th:value="${province.datetime}" name="datetime"/>
  <input type="hidden" th:value="${province.locationId}" name="locationId"/>
  <table style="margin:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="245" align="left" valign="top" class="add_main">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="66" height="30">日期:</td>
            <td width="130" class="inputText">2021-12-24
            </td>
            <td width="170">
            </td>
          </tr>

          <tr>
            <td width="66" height="30">省&nbsp;&nbsp;&nbsp;&nbsp;份:</td>
            <td width="178" class="inputText">北京
            </td>
            <td width="170">
            </td>
          </tr>

          <tr>
            <td width="66" height="30">新增数量:</td>
            <td width="178" class="inputText">
              <input type="text" th:name="currentConfirmedCount" value="16"/>
            </td>
            <td width="170">
            </td>
          </tr>

          <tr>
            <td width="66" height="30">确诊数量:</td>
            <td width="178" class="inputText">
              <input type="text" th:name="confirmedCount" value="1180"/>
            </td>
            <td width="170">
            </td>
          </tr>

          <tr>
            <td width="66" height="30">疑似数量:</td>
            <td width="178" class="inputText">
              <input type="text" th:name="suspectedCount" value="160"/>
            </td>
            <td width="170">
            </td>
          </tr>

          <tr>
            <td width="66" height="30">治愈数量:</td>
            <td width="178" class="inputText">
              <input type="text" th:name="curedCount" value="1006"/>
            </td>
            <td width="170">
            </td>
          </tr>

          <tr>
            <td width="66" height="30">死亡数量:</td>
            <td width="178" class="inputText">
              <input type="text" th:name="deadCount" value="9"/>
            </td>
            <td width="170">
            </td>
          </tr>



          <tr>
            <td height="50">&nbsp;</td>
            <td valign="bottom">
              <img src="../images/cancel_btn.png" width="84" height="28"  onclick="goBack()"/>
              <img src="../images/save_btn.png" width="84" height="28" onclick="updateProvince();"/>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>
</body>
</html>
