<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="../css/info-mgt.css" />
  <link rel="stylesheet" href="../css/WdatePicker.css" />
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/chinasofti.js"></script>
  <script type="text/javascript">
    function gotoPage(currentPage){
      $("#currentPage").val(currentPage);
      $("#searchForm").submit();
    }
    function deleteWzs(){
      var wznamecheckeds = $("input:checkbox[name='name']:checked");
      var wznames = "";
      if(wznamecheckeds.length>0){
        for(var i=0;i<wznamecheckeds.length;i++){
          wznames += wznamecheckeds[i].value+",";
        }
        window.location.href = "deleteWzs?names="+wznames;
      }else{
        alert("请至少选择一个要删除的物资");
      }
    }
  </script>
</head>

<body>
<div class="title">
  <h2>物资消耗管理</h2></div>
<form id="searchForm" action="wzList" method="post">
  <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
  <input type="hidden" name="currentPage" id="currentPage" th:value="1">
<div class="query">
  <div class="query-conditions ue-clear">
    <div class="conditions staff ue-clear">
      <label>物资名：</label>
      <input type="text" th:value="${searchWz.name}" name="name" placeholder="可以直接输入或选择" />
      <a href="javascript:;" onclick="gotoPage(1);" style="margin-left: 10px;" class="confirm">查询</a>
    </div>
  </div>
</div>
</form>
<!-- 按钮 -->
<div style="position:absolute;right:0;margin:-45px 5px 0 0">
  <a href="addWz.html" id="add" class="add">
    <img src="../images/add_btn.png" name="Image1"  border="0" id="Image1" onmouseover="MM_swapImage('Image1','','../images/add_btn_1.jpg',1)" onmouseout="MM_swapImgRestore()" />
  </a>

  <a href="#" onclick="deleteWzs();" id="delete" class="delete" >
    <img src="../images/delete_btn.png"  border="0" id="Image4" onmouseover="MM_swapImage('Image4','','../images/delete_btn_1.jpg',1)" onmouseout="MM_swapImgRestore()" />
  </a>


</div>

<div class="table-box">
  <table>
    <thead>
    <tr>
      <th class="num"><input style="height: auto;" type="checkbox" id="checkAll"/></th>
      <th class="name">物资名</th>
      <th class="process">采购数量</th>
      <th class="process">下拨数量</th>
      <th class="process">捐赠数量</th>
      <th class="process">消耗数量</th>
      <th class="process">需求数量</th>
      <th class="process">库存数量</th>
      <th class="operate">操作</th>
    </tr>
    </thead>
    <tbody>
     <tr>
      <td class="num"><input style="height: auto;" name="name" type="checkbox" value="84消毒液/瓶"></td>
      <td class="name">84消毒液/瓶</td>
      <td class="process">39565</td>
      <td class="process">42151</td>
      <td class="process">39540</td>
      <td class="process">-35411</td>
      <td class="process">-41178</td>
      <td class="process">44668</td>
      <td class="operate">
        
        <a href="detailWz.html">查看详情</a>
        &nbsp;&nbsp;
        <a href="updateWz.html">修改</a>
        &nbsp;&nbsp;
        <a href="#">删除</a>
      </td>
    </tr>
    <tr style="background-color: rgb(239, 246, 250);">
      <td class="num"><input style="height: auto;" name="name" type="checkbox" value="N95口罩/个"></td>
      <td class="name">N95口罩/个</td>
      <td class="process">35504</td>
      <td class="process">36619</td>
      <td class="process">49228</td>
      <td class="process">-30880</td>
      <td class="process">-39536</td>
      <td class="process">50935</td>
      <td class="operate">
        
        <a href="detailWz.html">查看详情</a>
        &nbsp;&nbsp;
        <a href="updateWz.html">修改</a>
        &nbsp;&nbsp;
        <a href="#">删除</a>
      </td>
    </tr>
    <tr>
      <td class="num"><input style="height: auto;" name="name" type="checkbox" value="一次性手套/副"></td>
      <td class="name">一次性手套/副</td>
      <td class="process">35343</td>
      <td class="process">39807</td>
      <td class="process">41245</td>
      <td class="process">-39462</td>
      <td class="process">-37672</td>
      <td class="process">39261</td>
      <td class="operate">
        
        <a href="detailWz.html">查看详情</a>
        &nbsp;&nbsp;
        <a href="updateWz.html">修改</a>
        &nbsp;&nbsp;
        <a href="#">删除</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--<div class="pagination ue-clear"></div>-->
<div class="pagination ue-clear">
  <div class="goto"><span class="text">转到第</span>
  	<input id="yema" type="text"><span class="page">页</span>
  	<a href="javascript:;" onclick="gotoPage(document.getElementById('yema').value);">转</a>
  </div>
  <div class="pagin-list">
    <a href="javascript:;" class="prev">
      &lt;上一页
    </a>
    <span class="current" >1</span>
    <a href="javascript:;" class="next">
      下一页&nbsp;&gt;
    </a>
   </div>
  <div class="pxofy">显示第<font>1</font>页，总共<font>10</font>条</div></div>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/WdatePicker.js"></script>
<script type="text/javascript" src="../js/jquery.pagination.js"></script>
<script type="text/javascript">
  $(".select-title").on("click",function(){
    $(".select-list").hide();
    $(this).siblings($(".select-list")).show();
    return false;
  })
  $(".select-list").on("click","li",function(){
    var txt = $(this).text();
    $(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
  })

  $("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

  showRemind('input[type=text], textarea','placeholder');
</script>
</html>
