<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="../css/info-mgt.css" />
  <link rel="stylesheet" href="../css/WdatePicker.css" />
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/chinasofti.js"></script>
  <script type="text/javascript">
    function gotoPage(){
      $("#searchForm").submit();
    }

    function deleteOverseasinputs(){
      var datetime = $("#datetime").val();
      var pidcheckeds = $("input:checkbox[name='pid']:checked");
      var pids = "";
      if(pidcheckeds.length>0){
        for(var i=0;i<pidcheckeds.length;i++){
          pids += pidcheckeds[i].value+",";
        }
        window.location.href = "deleteOverseasinputs?pids="+pids+"&datetime="+datetime;
      }else{
        alert("请至少选择一个要删除的数据");
      }
    }
  </script>
  </script>
</head>

<body>
<div class="title">
  <h2>境外输入确诊数据</h2></div>
<form id="searchForm" action="overseasinputList" method="post">
  <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
  <div class="query" style="width: 580px;border: none;" sec:authorize="hasAuthority('data:overseasinput:select')" >
    <div class="query-conditions ue-clear">
      <div class="conditions staff ue-clear" style="width: 580px;">
        <label style="width: 37px;">日期：</label>
        <input id="datetime" type="text" value="2021-12-24" name="datetime" placeholder="请输入要查询的日期" />

        <label style="width: 50px;">省份名：</label>
        <input type="text" th:value="${searchOverseasinput.provinceShortName}" name="provinceShortName" placeholder="可以直接输入或选择" />

        <a href="javascript:;" onclick="gotoPage();" style="margin-left: 10px;" class="confirm">查询</a>
      </div>
    </div>
  </div>
</form>
<!-- 按钮 -->
<div style="position:absolute;right:0;margin:-45px 5px 0 0">
  <a href="addOverseasinput.html" id="add" class="add">
    <img src="../images/add_btn.png" name="Image1"  border="0" id="Image1" onmouseover="MM_swapImage('Image1','','../images/add_btn_1.jpg',1)" onmouseout="MM_swapImgRestore()" />
  </a>

  <a href="#" onclick="deleteOverseasinputs();" id="delete" class="delete" >
    <img src="../images/delete_btn.png"  border="0" id="Image4" onmouseover="MM_swapImage('Image4','','../images/delete_btn_1.jpg',1)" onmouseout="MM_swapImgRestore()" />
  </a>


</div>
<div class="table-box">
  <table>
    <thead>
    <tr>
      <th class="num"><input style="height: auto;" type="checkbox" id="checkAll"/></th>
      <th class="name">省份编号</th>
      <th class="process">省份名称</th>
      <th class="process">境外输入数量</th>
      <th class="operate">操作</th>
    </tr>
    </thead>
    <tbody>
     <tr>
      <th class="num"><input style="height: auto;" name="pid" type="checkbox" value="310000"></th>
      <td class="name">310000</td>
      <td class="process">上海</td>
      <th class="process">20928</th>
      <td class="operate">
        <a href="detailOverseasinput.html">查看详情</a>

        <a href="updateOverseasinput.html">修改</a>

        <a href="#">删除</a>
      </td>
    </tr>
    <tr style="background-color: rgb(239, 246, 250);">
      <th class="num"><input style="height: auto;" name="pid" type="checkbox" value="530000"></th>
      <td class="name">530000</td>
      <td class="process">云南</td>
      <th class="process">10640</th>
      <td class="operate">
        <a href="detailOverseasinput.html">查看详情</a>

        <a href="updateOverseasinput.html">修改</a>

        <a href="#">删除</a>
      </td>
    </tr>
    <tr>
      <th class="num"><input style="height: auto;" name="pid" type="checkbox" value="150000"></th>
      <td class="name">150000</td>
      <td class="process">内蒙古</td>
      <th class="process">2648</th>
      <td class="operate">
        <a href="detailOverseasinput.html">查看详情</a>

        <a href="updateOverseasinput.html">修改</a>

        <a href="#">删除</a>
      </td>
    </tr>
    <tr style="background-color: rgb(239, 246, 250);">
      <th class="num"><input style="height: auto;" name="pid" type="checkbox" value="110000"></th>
      <td class="name">110000</td>
      <td class="process">北京</td>
      <th class="process">2871</th>
      <td class="operate">
        <a href="detailOverseasinput.html">查看详情</a>

        <a href="updateOverseasinput.html">修改</a>

        <a href="#">删除</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/WdatePicker.js"></script>
<script type="text/javascript" src="../js/jquery.pagination.js"></script>
<script type="text/javascript">
  $(".select-title").on("click",function(){
    $(".select-list").hide();
    $(this).siblings($(".select-list")).show();
    return false;
  })
  $(".select-list").on("click","li",function(){
    var txt = $(this).text();
    $(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
  })

  $("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

  showRemind('input[type=text], textarea','placeholder');
</script>
</html>
