<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/echarts.js"></script>
    <script src="../js/china.js"></script>
    <script src="../js/jquery.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        #main {
            width: 600px;
            height: 450px;
            margin: 150px auto;
            border: 1px solid #ddd;
        }

        /*默认长宽比0.75*/
        .center {
            margin: auto;
            width: 70%;
        }
    </style>
</head>
<body>
<div style="margin:50px;">
    <h2 align="center">境外输入饼图</h2>
</div>
<div id="import_pie" style="width: 1000px;height:400px;" class="center"></div>
<script type="text/javascript">
    /*--------------------境外输入饼图-----------------------------*/
    var myPieChart = echarts.init(document.getElementById("import_pie"));
    myPieChart.setOption({
        title: {
            text: '境外输入统计'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            type: 'scroll',
            orient: 'vertical',
            right: 10,
            top: 20,
            bottom: 20,
        },
        series : [
            {
                name: '境外输入',
                type: 'pie',    // 设置图表类型为饼图
                radius: '70%',  // 饼图的半径
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                data:[          // 数据数组，name 为数据项名称，value 为数据项值
                    {value:235, name:'视频广告'},
                    {value:274, name:'联盟广告'},
                    {value:310, name:'邮件营销'},
                    {value:335, name:'直接访问'},
                    {value:400, name:'搜索引擎'}
                ]
            }
        ]
    })
    //$.getJSON('covid/getCovidImportData', function (data) {
    	var data ={
    "data": [
        {
            "name": "上海",
            "value": 20928
        },
        {
            "name": "云南",
            "value": 10640
        },
        {
            "name": "福建",
            "value": 4616
        },
        {
            "name": "陕西",
            "value": 3720
        },
        {
            "name": "黑龙江",
            "value": 3654
        },
        {
            "name": "天津",
            "value": 3573
        },
        {
            "name": "北京",
            "value": 2871
        },
        {
            "name": "内蒙古",
            "value": 2648
        },
        {
            "name": "广西",
            "value": 2392
        },
        {
            "name": "浙江",
            "value": 2336
        }
    ],
    "code": 200,
    "message": "success"
} ;
        myPieChart.setOption({
            series:[{
                data: data.data
            }]
        })
    //})
</script>

</body>
</html>
